@import "bootstrap/dist/css/bootstrap.min.css";

:root {
  --background: #f1f1f8;
  --foreground: #171717;
  --primary: #025EE1;
  --dark-blue: #171C8F;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
    --primary: #025EE1;
    --dark-blue: #171C8F;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Calibri, Arial, Helvetica, sans-serif;
}

.placeholder-blue::placeholder {
  color: #025ee1 !important;
  font-weight: 600;
  opacity: 1;
}

.eye-icon-btn {
  position: absolute;
  top: 50%;
  right: 18px;
  transform: translateY(-50%);
  background: none;
  border: none;
  padding: 0;
  margin: 0;
  z-index: 2;
  display: flex;
  align-items: center;
  cursor: pointer;
  height: 32px;
  width: 32px;
}

.eye-icon-btn:focus {
  outline: 2px solid #025ee1;
  outline-offset: 2px;
}

/* Floating label blue color and bold */
.floating-blue:focus ~ label,
.floating-blue:not(:placeholder-shown) ~ label,
.form-floating > .floating-blue:focus ~ label,
.form-floating > .floating-blue:not(:placeholder-shown) ~ label {
  color: #025ee1 !important;
  font-weight: 600;
}

.floating-blue:focus {
  border-color: #025ee1 !important;
  box-shadow: 0 0 0 2px #025ee133;
}

.form-floating > .floating-blue {
  border-radius: 9px;
  border-width: 2px;
  font-size: 1.5rem;
  height: 40px;
  padding-left: 1.5rem;
}

.form-floating > label {
  padding-left: 1.5rem;
  font-size: 1.1rem;
  color: #b0b7c3;
  font-weight: 600;
}

.input-normal {
  font-size: 1.1rem !important;
  height: 48px;
}